extends layout

block content
  div(class='indexBackground')
    
  div(class='joinToEnter')
     button.indexButton#go
    
  div(class="bottomBannerIndex")
    p <font color=#E3B79D>an open-source web-mashup by </font>Dennis Li, Alex Leung, Kevin Tseng, Kunaal Wadhwa and Bryan Yasukawa <font color=#E3B79D>(2012)</font>
 

block javascript
  script
    $(function() {
      $('#go').click(function() {
        $.get('/room', function(data) {
          window.location = '/room/' + data;
        });
      });
    });