extends layout

block content
  button.btn#go Join a room

block javascript
  script
    $(function() {
      $('#go').click(function() {
        $.get('/room', function(data) {
          window.location = '/room/' + data;
        });
      });
    });