doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', type='text/javascript')
    script(src="http://code.jquery.com/ui/1.9.2/jquery-ui.js", type='text/javascript')
    script(src='/javascripts/bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/lib/helpers.js')
    block head
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        a.brand(href='/') &nbsp;Freezing Bear Image Chat 
    block content

block javascript