body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.scrollbox {
  height: 400px;
  border: 1px solid #ccc;
  overflow: auto;
}

.canvas {
  border:1px solid #ccc;
}